extends base 
block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Sing up into your own account
      form.form
        .form__group
          label.form__label(for='email') Add own email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.ma-bt-md
          label.form__label(for='name') Write you name
          input#text.form__input(type='text', placeholder='You name', required, minlength='3')
        .form__group.ma-bt-md
          label.form__label(for='password') Write new password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='password') Confirm you password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='role') Write you role
          input#role.form__input(type='text',placeholder='example user', required)
        .form__group
          button.btn.btn--green Sing Up